@import url("https://fonts.googleapis.com/css?family=Merriweather");
body {
  text-align: center;
  color: #cccccc;
  margin-top: 25px;
  padding: 15px;
  font-family: "Merriweather", serif;
  background: -webkit-gradient(linear, left top, right bottom, from(#111111), to(#666666));
  background: linear-gradient(to bottom right, #111111, #666666); }

img {
  width: 70%;
  height: auto;
  margin: auto; }

a {
  text-decoration: none;
  color: #cccccc; }

a:visited {
  color: #cccccc; }

a:hover {
  color: #fff; }

p {
  text-align: justify; }

ul {
  list-style: none;
  text-align: left; }
