@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  box-sizing: border-box;
  background-color: #ddd;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  font-family: "Open Sans", sans-serif; }

section {
  width: 80%;
  margin: auto; }

@media only screen and (min-width: 800px) {
  section {
    width: 60%; } }
h4:before {
  display: block;
  content: " ";
  margin-top: -85px;
  height: 115px;
  visibility: hidden; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  background-color: #666; }
  header img {
    height: 75px;
    width: auto;
    padding: 15px; }
  header h1 {
    align-self: center; }

.container {
  width: 90%;
  margin: auto;
  padding: 0;
  display: flex; }

@media only screen and (min-width: 800px) {
  .container {
    width: 75%; } }
#nav-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px; }
  #nav-bar #link-col {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: 10px; }
    #nav-bar #link-col #hamburger {
      display: flex;
      flex-direction: column;
      width: 90px;
      height: 50px;
      margin-top: 30px; }
      #nav-bar #link-col #hamburger span {
        align-self: center;
        width: 30px;
        color: #fff;
        border: 2px solid white;
        border-radius: 2px;
        margin: 3px 0;
        transition: 0.3s;
        transform: rotate(0deg); }
    #nav-bar #link-col #hamburger.open span:nth-child(1) {
      transform: rotate(45deg);
      margin-bottom: -2px;
      margin-top: 10px; }
    #nav-bar #link-col #hamburger.open span:nth-child(2) {
      display: none; }
    #nav-bar #link-col #hamburger.open span:nth-child(3) {
      transform: rotate(-45deg);
      margin-top: -2px; }
    #nav-bar #link-col #links {
      display: none; }
  @media only screen and (min-width: 800px) {
    #nav-bar #link-col {
      flex-direction: row;
      padding-top: 0;
      height: 100px;
      display: flex;
      margin-top: 0; }
      #nav-bar #link-col #hamburger {
        display: none; }
      #nav-bar #link-col #links, #nav-bar #link-col #links.open {
        display: flex;
        align-self: center; }
        #nav-bar #link-col #links a, #nav-bar #link-col #links.open a {
          padding: 0 20px;
          font-size: 1rem; } }
  #nav-bar a {
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
    height: 66.66667px;
    font-size: 0.8rem; }
  #nav-bar a:visited {
    color: #fff; }
  #nav-bar a:hover {
    background-color: #fff;
    color: #666; }
  #nav-bar .nav-link {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #666; }

.headline {
  margin: auto;
  text-align: center;
  margin-top: 45px; }

.main-img {
  width: 75%; }

@media only screen and (min-width: 800px) {
  .main-img {
    width: 50%; } }
#video {
  width: 90%;
  margin: auto; }

@media screen only and (min-width: 800px) {
  width: 75%; }
.img-container {
  display: flex;
  flex-direction: row; }
  .img-container img {
    width: 30%;
    height: 30%;
    margin: 20px;
    align-self: center; }

#form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 90%; }
  #form label {
    margin: auto; }
  #form input {
    margin: auto;
    margin-top: 15px; }
  #form input[type="email"] {
    width: 60%; }
  #form input[type="submit"] {
    width: 100px; }

@media only screen and (min-width: 800px) {
  #form {
    width: 75%; } }

/*# sourceMappingURL=styles.css.map */
