$border-rad: 5px;

#inspired {
  font-size: 15px;
}

#survey-form {
  margin: auto;
  width: 90%;
  font-family: $main-font;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding: 15px 0;
  
  input {
    margin-top: 5px;
    height: 25px;
    padding-left: 5px;
    border-radius: $border-rad;
  }
  #age-label {
    width: 15%;
  }
  button {
    margin-top: 20px;
    width: 100px;
  }
  select {
    height: 30px;
    border-radius: $border-rad;
    margin-top: 5px;
  }
}

.input-group {
  margin: 10px 0;
}

.label-align {
  text-align: right;
  display: inline-block;
  width: 40%;
  vertical-align: top;
  padding-top: 10px;
}

.input-left-align {
  text-align: left;
  display: inline-block;
  width: 48%;
  margin-left: 10px;
}

input[type="textarea"] {
  margin-left: 10px;
}

input[type="checkbox"], input[type="radio"] {
  position: relative;
  top: 5px;
  margin-right: 10px;
}

button {
  border-radius: $border-rad;
  height: 50px;
  margin: auto;
}