$head-height: 100px;
$head-bg: #666;

header {
  width: 100%;
  height: $head-height;
  margin: 0;
  display: flex;
  flex-direction: row;
  background-color: $head-bg;;
  img {
    height: 75px;
    width: auto;
    padding: 15px;
  }
  h1 {
    align-self: center;
  }
}

.container {
  width: 90%;
  margin: auto;
  padding: 0;
  display: flex;
}
@media only screen and (min-width: 800px) {
  .container {
    width: 75%;
  }
}



#nav-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  #link-col {
    display: flex;
    flex-direction: column;
    background-color: $head-bg;    
    z-index: 1;
    #hamburger {
      padding-top: $head-height / 3;
      display: flex;
      flex-direction: column;
      margin: auto;
      span {
        width: 30px;
        color: #fff;
        border: 2px solid white;
        border-radius: 2px;
        margin: 3px;
        transition: 0.5s;
        transform: rotate(0deg);
      }
    }
    #hamburger.open {
      padding-top: $head-height / 3 + 16px;
    }
    #hamburger.open span:nth-child(1) {
      transform: rotate(45deg);
      margin-bottom: -2px;
    }
    #hamburger.open span:nth-child(2) {
      display: none;
    }
    #hamburger.open span:nth-child(3) {
      transform: rotate(-45deg);
      margin-top: -2px;
    }
  }
  @media only screen and (min-width: 800px) {
    #link-col {
      flex-direction: row;
      padding-top: 0;
      height: $head-height;
      #hamburger {
        display: none;
      }
    }
  }  
  a {
    padding: 0 10px;
    margin-top: 10px;
    text-decoration: none;
    color: $header-col;
    height: $head-height / 1.5;
    font-size: 0.8rem;
  }
  @media only screen and (min-width: 800px) {
    height: $head-height;
    margin-top: 0;
  }
  a:visited {
    color: $header-col;
  }
  a:hover {
    background-color: $header-col;
    color: #666;
  }
  .nav-link {
    display: flex;
    align-items: center;
  }
}

