html {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  box-sizing: border-box;
  background-color: $background-col; 
  margin: 0;
  padding: 0; 
  padding-top: $head-height;
  font-family: $main-font;
}
section {
  width: 80%;
  margin: auto;
}
@media only screen and (min-width: 800px) {
  section {
    width: 60%;
  }
}