body {
  box-sizing: border-box;
  background-color: $background-col; 
  margin: 0;
  padding: 0; 
  font-family: $main-font;
}
section {
  width: 80%;
  margin: auto;
}
@media only screen and (min-width: 800px) {
  section {
    width: 60%;
  }
}